doctype html
html(lang='en')
 head
   title Stuck on a word! We can help!
   script(src="https://code.jquery.com/jquery-3.4.1.js",integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=",crossorigin="anonymous")

   script(src='./index2.js')



 body
   h1 Stuck on a word! We can help!
   div.remark
     label Enter Word 
     input(type="text", value=" ", id="word")
     input(type="button", value="Submit", onclick="openphrase()")
     


