doctype html
html(lang='en')
 head
   title Definition
   script(src="https://code.jquery.com/jquery-3.4.1.js",integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=",crossorigin="anonymous")

   script(src='/index2.js')



 body
   h1 Definition
   h2 #{meaning}
   div.remark
      input(type="button", value="Submit Another Word", onclick="renew()")
